/******* /css/reset.css *********/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom:1;}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,button,input,select,textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

a:focus {
    outline: thin dotted;
}

a:hover,a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

pre,code,kbd,samp {
    font-family: monospace,serif;
    _font-family: 'courier new',monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul,ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,input {
    line-height: normal;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

button[disabled],input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

input:invalid,textarea:invalid {
    background-color: #f0dddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: black;
    padding: .2em 0;
}

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0;
}

.ir br {
    display: none;
}

.hidden {
    display: none!important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom:1;}

@media print {
    * {
        background: transparent!important;
        color: black!important;
        box-shadow: none!important;
        text-shadow: none!important;
        filter: none!important;
        -ms-filter: none!important;
    }

    a,a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: "(" attr(href) ")";
    }

    abbr[title]:after {
        content: "(" attr(title) ")";
    }

    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
        content: "";
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100%!important;
    }

    @page {
        margin: .5cm;
    }

    p,h2,h3 {
        orphans: 3;
        widows: 3;
    }

    h2,h3 {
        page-break-after: avoid;
    }
}

/******* /css/common.css *********/
body,html,for {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Courier,Courier New,Monospace;
    line-height: 1.2;
}

h1,h2,h3,h4,h5,h6 {
    display: inline-block;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: expression(hideFocus='true');
    outline: 0;
    -moz-outline: 0;
    color: Black;
}

a:hover {
    text-decoration: underline;
}

a:hover * {
    cursor: pointer;
}

a:focus {
    outline-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.clearer {
    clear: both;
    float: none;
}

em {
    font-style: italic;
}

#container {
    padding: 16px 35px 130px 35px;
}

#menu {
    font-size: 12px;
    padding-bottom: 400px;
    position: relative;
}

header {
    width: 800px;
}

.col {
    float: left;
    min-height: 1px;
}

.mainCat {
    width: 781px;
    line-height: 17px;
    margin: 20px 0 0;
    max-width: 60%;
}

.rightCat {
    position: absolute;
    right: 0;
    top: 61px;
    width: 600px;
    text-align: right;
    line-height: 17px;
    max-width: 40%;
}


.h .linkContainer img {
    visibility: hidden;
}

.linkContainer {
    position: relative;
    margin-bottom: 20px;
}

.linkContainer img {
    max-width: 100%;
}

.h .linkContainer a.e {
    color: #f8b250;
}

.linkContainer a,a.e {
    background-color: #f8b250;
    padding: 0 2px;
}

.linkContainer .linkPos {
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
}

h2.title {
    margin: 10px 0;
    font-size: 12px;
}

.maintitle {
    font-size: 24px;
    line-height: 40px;
}

a.backtotop {
    margin-right: 5px;
    font-style: normal;
}

a.backtotop:hover {
    text-decoration: none;
}

a.backtotop .hide {
    display: none;
    text-decoration: underline;
}

a.backtotop:hover .hide {
    display: inline;
}

h2.title a,.mainCat,.mainCat a,.mainCat span {
    color: Black;
}

.institution,a.institution {
    color: red;
}

.mainCat a.c,.mainCat .highlight_color {
    padding: 0 2px;
}

.h .mainCat,.h h2.title a,.h h2.title {
    color: White;
}

.h .picturama a.c {
    color: #8AF0FF;
}

.picturama a.c,#header a.picturama:hover,body .picturama a.topicturama {
    background-color: #8AF0FF;
}

.h .cinema a.c {
    color: #82FE82;
}

.cinema a.c,#header a.cinema:hover,body .picturama a.tocinema {
    background-color: #82FE82;
}

.h .info5 a.c {
    color: #FEEA3D;
}

.info5 a.c,#header a.info5:hover,body .picturama a.toinfo5 {
    background-color: #FEEA3D;
}

.h .city5 a.c {
    color: #9BB5FF;
}

.city5 a.c,#header a.city5:hover,body .picturama a.tocity5 {
    background-color: #9BB5FF;
}

.h .new .highlight_color,.h .new .highlight_color a {
    color: #FEB2B2;
}

.new .highlight_color,body .picturama a.tonew {
    background-color: #FEB2B2;
}

.h .comingsoon .highlight_color,.h .comingsoon .highlight_color a {
    color: #F8B242;
}

.comingsoon .highlight_color,body .picturama a.tocomingsoon {
    background-color: #F8B242;
}

.h .links .highlight_color,.h .links .highlight_color a {
    color: #EEE;
}

.links .highlight_color,body .picturama a.tolinks {
    background-color: #EEE;
}

.h .new span,.h .new a,.h .comingsoon span,.h .comingsoon a,.h a.institution,.h .links span,.h .links a {
    color: White;
}

.t1 {
    font-family: Arial,Sans-Serif;
    min-width: 670px;
}

.t2 {
    font-family: Georgia,Serif;
    min-width: 670px;
}

.t3 {
    font-family: Courier,Monospace;
    min-width: 750px;
}

.t4 {
    font-family: Times New Roman,Times,Serif;
    min-width: 750px;
}

header {
    line-height: 50px;
}

header .maintitle:hover {
    color: Red;
    text-decoration: none;
}

#headerLeft {
    height: 48px;
    width: 589px;
    border-bottom: solid 1px black;
    font-size: 12px;
}

#headerRight {
    height: 48px;
    width: 185px;
    margin-left: 16px;
    border-bottom: solid 1px black;
}

#othermenus {
    float: right;
    white-space: nowrap;
    text-align: right;
}

#footer {
    clear: both;
}

.overlay {
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
}

.cinema_back {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.recent .highlight_color,.recent a {
    background-color: #FEB2B2;
}

.h .recent .highlight_color,.h .recent a {
    color: #FEB2B2;
}

.soon .highlight_color,.soon a {
    background-color: #F8B242;
}

.h .soon .highlight_color,.h .soon a {
    color: #F8B242;
}

.links .highlight_color,.links a {
    background-color: #EEE;
}

.h .links .highlight_color,.h .links a {
    color: #F8B242;
}

/******* /css/picturama.css *********/
section.picturama {
    margin-top: 14px;
}

section.picturama .highlight_color {
    background-color: #8AF0FF;
    color: Black;
    padding: 0 2px;
}

section.picturama .title {
    font-size: 12px;
}

section.picturama h2 {
    font-style: italic;
}

section.picturama .active .picturama_title {
    background-color: #8AF0FF;
}

section.picturama .images {
    margin-top: 10px;
}

section.picturama .images a {
    margin: 0 10px 10px 0;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
    zoom:1;}

section.picturama .images a img {
    zoom:1;position: relative;
    display: block;
}

section.picturama .images a.visited img,section.picturama .images a.active img {
    visibility: hidden;
}

#picture {
    position: absolute;
    z-index: 5000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#picturePreview {
    position: absolute;
    z-index: 5001;
    cursor: pointer;
}

/******* /css/cinema.css *********/
#container.hasBack {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-bottom: 0;
}

#movie {
    position: absolute;
    z-index: 2;
    background-color: White;
    top: 80px;
    left: 35px;
}

#movie .p {
    margin-bottom: 10px;
}

#movie video {
    background-color: Black;
}

#back {
    position: absolute;
    z-index: 0;
    top: 0;
}

#back div {
    position: absolute;
    z-index: 1;
}

#back a {
    display: block;
}

#back div:hover a,#back div a.rolled {
    opacity: 0;
}

#back a img {
    display: block;
}

#container.hasBack section.cinema {
    position: absolute;
    top: 100%;
}

section.cinema {
    line-height: 14px;
    margin-top: 14px;
}

.cinema .l,.movie-title {
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
}

.cinema .l:hover,.cinema .l.rolled,.movie-title {
    background-color: #82FE82;
    text-decoration: underline;
}

.movie-title .backtotop {
    padding-left: 5px;
    margin-right: 0;
    background-color: white;
}

.movie-title .backtotop .hide {
    margin-left: 5px;
}

.l span.collaboration {
    font-style: normal;
}

/******* /css/info.css *********/
section.info5 {
    margin-top: 8px;
    font-size: 12px;
    position: relative;
}

.info5 .submenu {
    padding: 0 0 8px 0;
}

.info5 .submenu .m {
    line-height: 14px;
    padding-bottom: 2px;
}

.info5 .submenu .active {
    padding-left: 15px;
}

.info5 .submenu .active a,.rightArticleLink,.info5 .articleTitle,.yellowBg,a.bookLink:hover {
    background-color: #FEEA3D;
}

.info5 .submenu .active a {
    padding: 0 2px;
}

.info5 article {
    width: 791px;
    padding-bottom: 14px;
}

.info5 .articleTitle {
    font-style: italic;
    text-decoration: none;
    cursor: default;
}

.info5 article .left {
    width: 589px;
    float: left;
    padding-top: 8px;
    border-top: 1px solid Black;
}

.info5 article .right {
    float: right;
    width: 185px;
}

.rightBox {
    padding: 8px 0;
    border-top: 1px solid Black;
}

.info5 .thumbnail img {
    padding-bottom: 8px;
}

.info5 article h1,.info5 article h2,.subtitleLine {
    display: block;
}

.info5 article h2 {
    margin-bottom: 15px;
}

.bookPage {
    width: 791px;
}

.bookPage .bookCol {
    float: left;
    padding-top: 15px;
    border-top: 1px solid Black;
}

.bookPage .leftCol {
    width: 185px;
    margin-right: 17px;
}

.bookPage .centerCol {
    width: 387px;
}

.bookPage .rightCol {
    float: right;
    width: 185px;
}

.bookPage .bookLinkContainer {
    margin-bottom: 16px;
}

a.bookLink:hover {
    text-decoration: none;
}

a.bookLink:hover span.bookTitle {
    text-decoration: underline;
}

.bookPage .rightCol a {
    float: left;
    display: block;
    margin: 0 15px 15px 0;
}

.infoCol {
    width: 185px;
    float: left;
    margin-right: 17px;
    padding-top: 15px;
    border-top: 1px solid black;
}

.infoCol h1 {
    margin: 0 0 10px 15px;
    font-size: 12px;
}

.infoCol h2 {
    margin: 0 0 0 30px;
    font-size: 12px;
}

img.lightbox {
    position: absolute;
    left: 0;
    margin-top: 15px;
}

#bookImages {
    position: absolute;
}

#bookImages figure {
    margin-bottom: 10px;
}

a.imgHover:hover img,.bookPage .rightCol a.active img {
    visibility: hidden;
}

/******* /css/test.less *********/
/* ERROR : Value cannot be null.
Parameter name: css, moved to separate link ***/

@media (max-width: 500px) {
    .rightCat {
        position:static !important;
        top: 61px;
        text-align: left !important;

    }
  }

  